<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZidianMapper">
	
	<!-- ================================================================================================== -->
	
	

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  SYS_ZIDIAN
			set NAME    = #{NAME},
				ORDY_BY = #{ORDY_BY},
				BIANMA  = #{BIANMA},
				P_BM	  = #{P_BM},
				TPDZ = #{TPDZ}
			where 
				ZD_ID = #{ZD_ID}
	</update>
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			ZD_ID,
			NAME,
			BIANMA,
			ORDY_BY,
			PARENT_ID,
			JB,
			P_BM,
			TPDZ
		from 
			SYS_ZIDIAN
		where 
			ZD_ID = #{ZD_ID}
	</select>
	
	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into SYS_ZIDIAN (
			ZD_ID,
			NAME,
			BIANMA,
			ORDY_BY,
			PARENT_ID,
			JB,
			P_BM,
			TPDZ
		) values (
			#{ZD_ID},
			#{NAME},
			#{BIANMA},
			#{ORDY_BY},
			#{PARENT_ID},
			#{JB},
			#{P_BM},
			#{TPDZ}
		)
	</insert>
	
	<!-- 列表 -->
	<select id="zidianlistPage" parameterType="page" resultType="pd">
		select  z1.ZD_ID,
				z1.NAME,
				z1.BIANMA,
				z1.ORDY_BY,
				z1.PARENT_ID,
				z1.JB,
				z1.P_BM,
				z1.TPDZ,
				z2.NAME PNAME
		from SYS_ZIDIAN z1
		left join
			SYS_ZIDIAN z2 
		on  z1.PARENT_ID = z2.ZD_ID 
		where 
		    z1.PARENT_ID = #{pd.PARENT_ID}
		<if test="pd.NAME != null and pd.NAME != ''">
			and z1.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%') 
		</if>
		order by z1.ORDY_BY
	</select>
	
	<!-- 查询总数 -->
	<select id="findCount" parameterType="pd" resultType="pd">
		select 
			count(ZD_ID) ZS
		from 
			SYS_ZIDIAN
		where 
			PARENT_ID = #{ZD_ID}
	</select>
	
	<!-- 查询某编码 -->
	<select id="findBmCount" parameterType="pd" resultType="pd">
		select 
			ZD_ID
		from 
			SYS_ZIDIAN
		where 
			BIANMA = #{BIANMA}
		<if test="ZD_ID != null and ZD_ID != ''">
			and ZD_ID != #{ZD_ID} 
		</if>
	</select>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="pd">
		delete from SYS_ZIDIAN 
		where 
			ZD_ID = #{ZD_ID}
	</delete>
	
	<!-- ================================================================================================== -->
	
	<select id="findZDList" parameterType="pd" resultType="pd">
		select
			a.zd_id as "zd_id",
			a.name as "name",
			a.bianma as "bianma",
			a.ordy_by as "ordy_by",
			a.parent_id as "parent_id",
			a.jb as "jb",
			a.p_bm as "p_bm",
			a.tpdz as "tpdz"
			from sys_zidian a
		where 1=1 
		<if test="p_bm != null and p_bm != ''">
			 and p_bm like #{p_bm}'%'
		</if>
		<if test="parent_id != null and parent_id != ''">
			and a.parent_id=#{parent_id}
		</if>
		<if test="jb != null and jb != ''">
			and a.jb != #{jb}
		</if>
		<if test="bianma != null and bianma != ''">
			and a.bianma != #{bianma}
		</if>
		order by a.ordy_by asc
	</select>
	
</mapper>